* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "微軟正黑體";
}

body {
  padding-top: 0;
}

.space_block {
  position: relative;
  background: #2b3135;
  min-height: 100vh;
  width: 100%;
}

.globe {
  position: absolute;
  width: calc(100% - 320px);
  height: 600px;
  top: calc(50% - 300px);
  right: 0;
  display: block;
  margin: 0 auto;
  background: none;
  text-align: block;
  canvas {
    display: inline-block;
    margin: auto;
    outline: none;
  }
}

// 左選單
$btn_color: #a3bed2;

.left_block {
  position: fixed;
  z-index: 50;
  width: 300px;
  max-height: 100vh;
  overflow: auto;
  left: 15px;
  top: 15px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  .search_bar {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    input {
      background: rgba(255, 255, 255, 0.9);
      width: 100%;
    }
  }
  .city_btn {
    display: block;
    margin-bottom: 10px;
    background: none;
    color: $btn_color;
    border: 1px solid $btn_color;
    width: 100%;
    transition: 0.3s;
  }
  .area_box {
    position: relative;
    display: block;
    padding: 15px;
    margin-bottom: 15px;
    //background-color: rgba(0, 0, 0, 0.4);
    span {
      font-weight: bold;
      color: #fff;
      font-size: 28px;
      line-height: 30px;
      display: inline-block;
      vertical-align: middle;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 0;
      left: 0;
      display: block;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3c9ae8+0,27ea5b+100 */
      background: rgb(60, 154, 232); /* Old browsers */
      background: -moz-linear-gradient(left, rgba(60, 154, 232, 1) 0%, #009829 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(60, 154, 232, 1) 0%, #009829); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to right,
        rgba(60, 154, 232, 1) 0%,
        #009829
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c9ae8', endColorstr='##009829',GradientType=1 ); /* IE6-9 */
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      display: block;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3c9ae8+0,27ea5b+100 */
      background: rgb(60, 154, 232); /* Old browsers */
      background: -moz-linear-gradient(left, #3c9ae8 0%, rgba(39, 234, 91, 1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(60, 154, 232, 1) 0%, #009829); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to right,
        rgba(60, 154, 232, 1) 0%,
        #009829
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c9ae8', endColorstr='##009829',GradientType=1 ); /* IE6-9 */
    }
  }
}

.data_block {
  position: fixed;
  top: 20px;
  right: 20px;
  width: calc(100% - 380px);
  max-height: calc(100vh - 20px);
  overflow: auto;
  padding: 15px;
  border-radius: 5px;
  background: rgba(53, 53, 53, 0.8);
  .data_list{
      margin-bottom: 20px;
  }

  .title{
    margin-bottom: 10px;
    padding: 10px 5px;
    position: relative;
      span{
        color: #fff;
        font-weight: bold;
        font-size: 18px;
      }
      &:before{
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          display: inline-block;
        //   background-image: linear-gradient(to top, #3c9ae8 0%, #009829 100%);
          background-image: linear-gradient(120deg, #3c9ae8 0%, #009829 100%);
      }
  }

  .subtitle{
    font-size: 14px;
    color: #ababab;
  }

  .show_data_box{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
  }
}
